body {
    font-family: "Arial", "Meiryo", sans-serif;
}
html {
    font-size: 20px;
    text-align: center;
}
.blue {
    color: skyblue;
}
.pink {
    color: rgb(255, 192, 203);
}
#basic p {
    font-weight: bold;
}
h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2em;
    letter-spacing: 1.2em;
    text-shadow:  10px 10px 15px rgba(0, 0, 0, 0.5);
    border-bottom:solid 3px rgb(115, 115, 114);
}
